@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0px;
}

.header_container {
    background-color: grey;
    height: 15vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
}

.header_title {
    text-align: center;
    background-color: white;
    line-height: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black
}

.title_style {
    font-family: "Bree Serif";
    font-size: 28px;
}

.subtitle_style {
    font-family: "Bree Serif";
    color: grey;
}

.background_container {
    margin-bottom: 30px;
}

.category_style {
    font-weight: bold;
    font-family: "Bree Serif";
}

.dropdown_style {
    font-weight: bold;
    font-size: 16px;
    font-family: "Bree Serif";
    width: 200px;
    padding: 6px;
    border: 2px solid black;
}

.head_style {
    font-size: 26px;
    font-family: "Roboto";
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 16px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}

.input_email {
    width: 150px;
    padding: 10px;
    border: 2px solid black;
}

.custom_button {
    font-family: "Bree Serif";
    color: white;
    background-color: black;
    padding: 8px;
}

.button_container{
    text-align: center;
}

.news_item {
    display: flex;
    margin-left: 30px;
    margin-right: 250px;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgrey;
}

.img_style {
    padding-top: 30px;
    padding-right: 20px;
    width: 160px;
    height: 120px;
}

.news_info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    line-height: 18px;
}

.news_title {
    font-size: 22px;
    font-family: "Roboto";
}

.news_subtitle {
    font-family: "Caveat";
    font-weight: bolder;
}

.news_description {
    font-family: "Roboto";
    text-align: justify;
}

.continue_button {
    align-self: flex-start;
    background-image: radial-gradient(grey,white);
    color: black;
    padding: 8px;
    font-family: "Roboto";
    font-weight: bold;
    border: 0px;
    border-radius: 6px;
}

.footer_container {
    bottom: 0px;
    color: white;
    font-family: "Roboto";
    text-align: center;
    background-color: rgb(56, 55, 55);
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
}

@media screen and (max-width: 768px){
    .news_item{
        flex-direction: column;
        margin-right: 100px;
    }
}
